<div class="modal-header">
  <h5 class="modal-title" id="staticBackdropLabel">Dogs</h5>
  <button type="button" class="btn-close" (click)="close()"></button>
</div>
<div class="modal-body">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">name</th>
      <th scope="col">breed</th>
      <th scope="col">birth</th>
    </tr>
    </thead>
    <tbody *ngFor="let dog of dogs">
    <tr>
      <th scope="row">{{dog.name}}</th>
      <td>{{dog.breed}}</td>
      <td>{{dog.dogsBirth}}</td>
    </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal" (click)="close()">Close</button>
</div>

