<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Edit user</h5>
  <button type="button" class="btn-close" (click)="close()"></button>
</div>
<div class="modal-body">
  <form *ngIf="user">
    <!-- 2 column grid layout with text inputs for the first and last names -->

    <div class="form-group">
      <label class="form-label" for="name">Name</label>
      <input type="text" id="name" class="form-control" [(ngModel)]="user.name" name="name"/>
    </div>
    <div class="form-group">
      <label class="form-label" for="surname">Last name</label>
      <input type="text" id="surname" class="form-control" [(ngModel)]="user.surname" name="surname"/>
    </div>

    <!-- Address input -->
    <div class="form-group mb-3">
      <label class="form-label" for="country">Country</label>
      <input type="text" id="country" class="form-control" [(ngModel)]="user.address.country" name="country"/>
    </div>

    <div class="form-group mb-3">
      <label class="form-label" for="voivodeship">Voivodeship</label>
      <input type="text" id="voivodeship" class="form-control" [(ngModel)]="user.address.voivodeship" name="voivodeship"/>
    </div>

    <div class="form-group mb-3">
      <label class="form-label" for="city">City</label>
      <input type="text" id="city" class="form-control" [(ngModel)]="user.address.city" name="city"/>
    </div>

    <div class="form-group mb-3">
      <label class="form-label" for="street">Street</label>
      <input type="text" id="street" class="form-control" [(ngModel)]="user.address.street" name="street"/>
    </div>

    <div class="form-group mb-3">
      <label class="form-label" for="postalCode">Postal code</label>
      <input type="text" id="postalCode" class="form-control" [(ngModel)]="user.address.postalCode" name="postalCode"/>
    </div>

    <!-- Email input -->
    <div class="form-group mb-3">
      <label class="form-label" for="email">Email</label>
      <input type="email" id="email" class="form-control" [(ngModel)]="user.email" name="email"/>
    </div>

    <!--TODO: Phone input -->
<!--    <div class="form-group mb-3" hidden>-->
<!--      <label class="form-label" for="phone">Phone number</label>-->
<!--      <input type="text" id="phone" class="form-control" [(ngModel)]="user.phone" name="phone"/>-->
<!--    </div>-->

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mt-5" (click)="passBack('UPDATE')">Save changes</button>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
  <button type="button" class="btn btn-danger" (click)="passBack('DELETE')">Delete user</button>
</div>
