
img {
  padding: 0.5rem;
  height: 100%;
  border-radius: 1rem 0 0 1rem;
}

#description {
  height: 4.8rem;
}

@media only screen and (max-width: 767px) {

  img {
    border-radius: 0.4rem 0.4rem 0 0;
    width: 100%;
  }
}
