<div class="container">

  <button *ngIf="pageParam === 'walk'" class="btn btn-primary text-end mt-4" (click)="openAddWalksComponent()">Add Advertisement</button>
  <h1 class="mt-3" *ngIf="pageParam === 'user'">Active walks</h1>
  <div *ngIf="walks.length == 0">
    <h2 *ngIf="pageParam === 'walk'">
      There is no walk created yet!<br>
      If you want, you can create one clicking at Add advertisement button above.
    </h2>

    <h2 *ngIf="pageParam === 'user'" class="text mt-4">
      You haven't participated in any walk yet!
    </h2>
  </div>
  <div *ngIf="walks.length > 0" class="row row-cols-xxl-4 row-cols-lg-3 row-cols-md-2 row-cols-1 g-4">

    <div class="col" *ngFor="let walk of walks; let i = index">
      <div class="card mt-4">
        <ngb-carousel id="carousel-{{i}}" [interval]="config.interval" [wrap]="config.wrap"
                      [keyboard]="config.keyboard"
        >
          <ng-template ngFor let-slide [ngForOf]="connectedImagesToOneArray(walk.dogs)">
            <ng-template ngbSlide>
              <div id="div-img" class="container-fluid align-items-center p-0">
                <img class="card-img-top" [src]="slide.url" [alt]="slide.file.name">
              </div>
            </ng-template>
          </ng-template>
        </ngb-carousel>

        <div class="card-body">
          <p class="card-header text-primary mt-1 p-1">{{ walk.user?.name }} {{ walk.user?.surname }}</p>
          <h5 class="card-title mt-2">{{ walk.dogs.map(getName) }} </h5>

          <p class="card-text">
            {{ walk.description }} <br/>
            Date: {{ walk.date | date: 'dd MMM yyyy' }} <br>
          </p>
          <p class="card-text text-warning">
            Remuneration: {{ walk.price | number: '1.2-2' }}zł
          </p>
        </div>

        <div *ngIf="pageParam === 'walk'" class="card-footer small text-center">
          <button  type="button" class="btn btn-primary mb-2" (click)="confirmWalk(walk, i)">I'll take you for a walk.
          </button>
        </div>

        <div *ngIf="pageParam === 'user'" class="card-footer small text-center pb-0">
          <p class="text-muted">
            You confirmed this walk {{ walk.confirmedAt | timeSince }} ago. <br>
            Planned date for this walk is {{ walk.date | date: 'MMM dddd, yyyy hh:mm' }}
          </p>
        </div>

        <div class="card-footer small text-center pb-0">
          <p class="text-muted">Added {{ walk.addedAt | timeSince }} ago</p>
        </div>
      </div>
    </div>
  </div>
</div>
