<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Manage user permissions</h5>
  <button type="button" class="btn-close" (click)="close()"></button>
</div>
<div class="modal-body d-flex justify-content-around">
  <button *ngIf="!isRolePresent(user)" class="btn btn-success" (click)="manageRoles('grant', 'USER')">GrantUser permission</button>
  <button *ngIf="isRolePresent(user)" class="btn btn-danger" (click)="manageRoles('delete', 'USER')">Delete User permission</button>
  <button *ngIf="!isRolePresent(admin)" class="btn btn-success" (click)="manageRoles('grant', 'ADMIN')">Grant Admin permission</button>
  <button *ngIf="isRolePresent(admin)" class="btn btn-danger" (click)="manageRoles('delete', 'ADMIN')">Delete Admin permission</button>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
</div>

