<div class="modal-header">
  <h5 class="modal-title" id="staticBackdropLabel">Create new meeting</h5>
  <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
</div>
<div class="modal-body">
  <form #dogForm="ngForm" (ngSubmit)="addDog(dogForm)">
    <div class="col">
      <!-- Name input -->
      <div class="form-check">
        <p>Name</p>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="dog.name"
          name="name"
        />
      </div>
    </div>

    <hr/>

    <div class="col">
      <!-- Breed input -->
      <div class="form-check">
        <p>Breed</p>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="dog.breed"
          name="breed"
        />
      </div>
    </div>

    <hr/>

    <div class="col">
      <!-- Birth input -->
      <div class="form-check">
        <p>Birth of dog</p>
        <input
          type="date"
          class="form-control"
          [(ngModel)]="dog.dogsBirth"
          name="dogsBirth"
        />
      </div>
    </div>

    <hr/>

    <div class="col">
      <!-- Image input -->
      <div class="form-check">
        <p>Title</p>
        <input
          type="file"
          class="form-control"
          multiple
          value="select"
          #selectFile
          (change)="onFileSelected($event)"
        />
      </div>
    </div>

    <div class="container-fluid">
      <!--  Image display -->
      <div class="row mt-2">
        <div id="imageDiv" class="col-6 img-thumbnail p-1" *ngFor="let image of dog.images; let i = index">
          <span class="btn btn-close px-2 py-1" (click)="removeImage(i)"></span>
          <img class="img-fluid" [src]="image.url" [alt]="image.file.name"/>
        </div>
      </div>
    </div>

    <hr/>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal" (click)="closeModal()">Close</button>
      <button type="submit" class="btn btn-primary">Confirm</button>
    </div>
  </form>
</div>
