<div class="container-fluid">
  <!--  search bar -->
  <div class="input-group rounded my-3 w-100 text-center">
    <input id="searchBar" type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
           aria-describedby="search-addon" autocomplete="off" [(ngModel)]="searchText"/>
    <span class="input-group-text border-0" id="search-addon">
          <i class="fas fa-search"></i>
        </span>
  </div>
  <table class="table table-hover align-middle mt-3 mb-0 bg-light shadow">

    <thead class="bg-primary text-light">
    <tr class="text-center align-items-center">
      <th>User</th>
      <th class="px-2">Phone number</th>
      <th class="px-2">Permissions</th>
      <th class="px-2">Status</th>
      <th>Address</th>
      <th class="px-2">Dogs</th>
      <th class="px-2">Edit</th>
      <th class="px-2">Change password</th>
      <th class="px-2">Permission manager</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let user of users| filter:searchText; let i = index;">
      <td>
        <div class="d-flex align-items-center">
          <div *ngIf="user.images.length === 0">
            <img
            src="https://mdbootstrap.com/img/new/avatars/8.jpg"
            alt=""
            style="width: 45px; height: 45px; margin-inline: 1em"
            class="rounded-circle"
          />
          </div>

          <div *ngIf="user.images.length !== 0">
            <img
              [src]="user.images[0].url"
              [alt]="user.images[0].file.name"
              style="width: 45px; height: 45px; margin-inline: 1em"
              class="rounded-circle"
            />
          </div>

          <div class="ms-3">
            <p class="fw-bold mb-1">{{ user.name }} {{ user.surname }}</p>
            <p class="text-muted mb-0">{{ user.email }}</p>
          </div>
        </div>
      </td>
      <td>
        <p class="text-center fw-bold mb-1">{{ user.phoneNumber | numberFormatter }}</p>
      </td>
      <td class="text-center px-2">
        <p class="text fw-bold mb-1">{{ rolesToString(user.roles) }}</p>
      </td>
      <td>
        <span *ngIf="user.active == true" class="badge rounded-pill bg-success">Online</span>
        <span *ngIf="user.active == false" class="badge rounded-pill bg-danger">Offline</span>
      </td>
      <td>
        {{ user.address.country }}, {{ user.address.city }}<br>{{ user.address.street }}, {{ user.address.postalCode }}
      </td>
      <td class="px-2">
        <button type="button" class="btn btn-secondary" data-mdb-toggle="modal" data-mdb-target="#dogList"
                (click)="openModalDogs(user.dogs)">
          Dogs
        </button>
      </td>
      <td class="px-2">
        <button type="button" class="btn btn-secondary" (click)="openModalEditUser(user)">
          Edit
        </button>
      </td>
      <td class="text-center px-2">
        <button *ngIf="!clicked[i]" type="button" class="btn btn-secondary" (click)="onNewPasswordButtonClicked(i)">
          <i class="fas fa-key"></i>
        </button>
        <div *ngIf="clicked[i]" class="form-text">
          <label class="form-label" for="newPassword">Enter new password</label>
          <input type="text" id="newPassword" class="form-control" [(ngModel)]="newPassword" name="newPassword"/>
          <button class="btn btn-success btn-sm mt-1" (click)="changePassword(user.email, i)">ok</button>
        </div>
      </td>
      <td class="text-center px-2">
        <button type="button" class="btn btn-secondary" (click)="openModalManageRoles(user.id, user.roles)">
          <i class="fas fa-toolbox fa-lg"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
