<div class="modal-header bg-danger w-100">
  <h5 class="modal-title text-light" id="exampleModalLabel">Error code: {{ err?.status }}</h5>
  <button type="button" class="btn-close" (click)="close()"></button>
</div>

<div class="modal-body w-100">
  Error Message: {{ err?.error.message }}
  <div *ngFor="let message of err?.error?.errors; let i = index">
    #{{ i }} Default message: {{ message.defaultMessage }}
  </div>

</div>

<div class="modal-footer w-100">
  <button type="button" class="btn btn-danger" (click)="close()">Close</button>
</div>

