<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand me-2" href="https://mdbgo.com/">
      <img
        src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp"
        height="16"
        alt="MDB Logo"
        loading="lazy"
        style="margin-top: -1px;"
      />
    </a>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarButtonsExample"
      aria-controls="navbarButtonsExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- Dropdown -->
        <li *ngIf="matchRole(['ROLE_ADMIN'])" class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
            Admin
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a class="dropdown-item" routerLink="admin/dogs">Dogs</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="admin/user">Users</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Something else here</a>
            </li>
          </ul>
        </li>
        <li *ngIf="matchRole(['ROLE_ADMIN', 'ROLE_USER'])" class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLinkToUser"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
            User
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkToUser">
            <li>
              <button class="dropdown-item" (click)="openEditUserComponent()">Edit your data</button>
            </li>
            <li [hidden]="matchRole(['ROLE_ADMIN'])">
              <a class="dropdown-item" routerLink="user/dogs">Dogs</a>
            </li>
            <li [hidden]="matchRole(['ROLE_ADMIN'])">
              <a class="dropdown-item" (click)="navigateWithParams(['user', 'walks'], 'user')">Active walks</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="meetings">Meetings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="navigateWithParams(['walks'],  'walk')">Walks</a>
        </li>

      </ul>
      <!-- Left links -->
      <div class="d-flex align-items-center">
        <ul class="navbar-nav">
          <!-- Notification/Messages -->
          <li *ngIf="isLoggedIn()" class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-mdb-toggle="dropdown"
              aria-expanded="false"
            >
              <span><i class="fas fa-envelope fa-lg"></i></span>
              <span *ngIf="walksNeedsAction.length > 0"
                    class="badge rounded-pill badge-notification bg-danger">{{ walksNeedsAction.length }}</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="navbarDropdown">
              <li *ngFor="let walk of walksNeedsAction">

                <div class="dropdown-item" *ngIf="walk.adState === states[1]">
                  <div class="dropdown-header">Sent {{ walk.confirmedAt | timeSince }} ago</div>
                  <p class="text-dark text-center fs-6">User {{ walk.confirmedUser?.name }} {{ walk.confirmedUser?.surname }} want to take your dog for a walk.
                    <br>Do you agree?</p>
                  <div id="confirmDiv" class="d-flex justify-content-around  mb-3">
                    <button type="button" class="btn btn-danger mx-1" (click)="denyWalk(walk)">Deny</button>
                    <button type="button" class="btn btn-success mx-1" (click)="allowWalk(walk)">Confirm</button>
                  </div>
                  <div class="dropdown-divider"></div>
                </div>

                <div class="dropdown-item" *ngIf="walk.adState === states[2]">
                  <p class="text fs-6">Yeah! User {{ walk.user?.name }} {{ walk.user?.surname }} allowed his dog/dogs to be taken for a walk.<br>
                    If you want to call to this user for more details use:
                    <span class="fw-bold">{{ walk.user?.phoneNumber | numberFormatter }}</span>. Have fun!
                  </p>
                  <button class="btn btn-warning" (click)="closeMessage(walk, 'allowed')">Close</button>
                </div>

                <div class="dropdown-item" *ngIf="walk.adState === states[3]">
                  <p class="text fs-6">Unfortunately! User {{ walk.user?.name }} {{ walk.user?.surname }} have not allowed his dog/dogs to be taken for a walk by you.<br>
                    You can still take another dog for a walk! Click here to see more <a routerLink="/walks" class="fw-bold">walks</a>
                  </p>
                  <button class="btn btn-warning text-end" (click)="closeMessage(walk, 'denied')">Close</button>
                </div>
              </li>
            </ul>
          </li>
          <li>
            <button *ngIf="!isLoggedIn()" type="button" class="btn btn-link px-3 me-2" routerLink="/login">
              Login
            </button>
          </li>
          <li class="nav-item">
            <button *ngIf="isLoggedIn()" type="button" class="btn btn-link px-3 me-2" (click)="logout()">
              Logout
            </button>
          </li>
          <li class="nav-item">
            <button *ngIf="!isLoggedIn()" type="button" class="btn btn-primary me-3" routerLink="/register">
              Sign up for free
            </button>
          </li>
        </ul>
      </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
