<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand me-2" href="https://mdbgo.com/">
      <img
        src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp"
        height="16"
        alt="MDB Logo"
        loading="lazy"
        style="margin-top: -1px;"
      />
    </a>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarButtonsExample"
      aria-controls="navbarButtonsExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- Dropdown -->
        <li class="nav-item dropdown" >
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
            Admin
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a class="dropdown-item" href="#">Dogs</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="admin/user">Users</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Something else here</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown" >
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLinkToUser"
          role="button"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
        >
          User
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li>
            <button class="dropdown-item" (click)="openEditUserComponent()">Edit your data</button>
          </li>
          <li>
            <a class="dropdown-item" routerLink="user/dogs">Dogs</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Something else here</a>
          </li>
        </ul>
      </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="meetings">Meetings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="walks">Walks</a>
        </li>

      </ul>
      <!-- Left links -->

      <div class="d-flex align-items-center">
        <button *ngIf="!isLoggedIn()" type="button" class="btn btn-link px-3 me-2" routerLink="/login">
          Login
        </button>
        <button *ngIf="isLoggedIn()" type="button" class="btn btn-link px-3 me-2" (click)="logout()">
          Logout
        </button>
        <button *ngIf="!isLoggedIn()" type="button" class="btn btn-primary me-3" routerLink="/register">
          Sign up for free
        </button>
        <a
          class="btn btn-dark px-3"
          href="https://github.com/mdbootstrap/mdb-ui-kit"
          role="button"
        ><i class="fab fa-github"></i
        ></a>
      </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
