<div class="modal-header">
  <h5 class="modal-title" id="staticBackdropLabel">Create new meeting</h5>
  <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
</div>
<div class="modal-body">
  <form>
    <div class="col">
      <!-- Title input -->
      <div class="form-check">
        <p>Title</p>
        <input
          type="text"
          class="form-control"
        />
      </div>
    </div>

    <hr/>

    <div class="col">
      <!-- Date input -->
      <div class="form-check">
        <p>Date</p>
        <input
          type="datetime-local"
          class="form-control"
        />
      </div>
    </div>

    <hr/>

    <!-- Description input -->
    <div class="form-check mb-4">
      <label class="form-label" for="description">Short description about meeting</label>
      <textarea
        class="form-control"
        id="description"
        rows="4">
    </textarea>
    </div>


    <hr/>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal" (click)="closeModal()">Close</button>
      <button type="button" class="btn btn-primary">Confirm</button>
    </div>
  </form>
</div>
